body {
	background-image: url(../imagens/background.jpg);
	clear: both;
    color: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 400px;
}

header {
	background-image: url(../imagens/header-back.png);
	clear: both;
	padding: 20px 0;
	margin-bottom: 10px;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 1100px;
	min-heigth: 100%;
}

#logo-livraria {
	width: 650px;
	position: relative;
	margin: 0 auto;
	padding: 5px;
	
}

.menu-opcoes {
	position: absolute;
	bottom: 90px;
	right: 100px;
}

.menu-opcoes ul {
	font-size: 20px;
}

.menu-opcoes ul li {
	display: inline;
	margin-left: 20px;
}

.
menu-opcoes a {
	color: #003366;
}

footer {
	background-image: url(../imagens/fundo-rodape2.png);
	clear: left;
	width: 100%;
	padding: 20px 0;
	margin-bottom: 10px;
}

#logo-rodape {
	width: 180px;
}

.social {
    position: absolute;
	top: 12px;
	right: 0;
}

.
social li {
    float: left;
    width: 24px;
	margin-left: 24px;
}

.
social a {
    width: 24px;
	display: block;
	text-indent: -9999px;
}

.social a[href*="facebook.com"] {
	background-image: url(../imagens/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../imagens/twitter.png);
}

.social a[href*="plus.google.com"] {
	background-image: url(../imagens/googleplus.png);
}

.busca, .menu-departamentos {
	background-color: black;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	margin-right: 3px;
	width: 230px;
}

.busca h2, .busca form, .menu-departamentos h2 {
	margin: 10px;
}

.menu-departamentos li {
	background-color: #000000;
	margin-bottom: 1px;
	padding: 5px 10px;
}

.menu-departamentos a {
	color: white;
	text-decoration: none;
}

.busca input {
	vertical-align: middle;
}

.busca input[type=search] {
	width: 170px;
}

.menu-departamentos {
	clear: left;
	margin-top: 10px;
	padding-bottom: 10px;
}

.menu-departamentos li ul {
	display: none;
}

.
menu-departamentos li:HOVER ul {
	display: block;
}

.
menu-departamentos ul ul li {
	background-color: #DCDCDC;
}

.
menu-departamentos li li a:BEFORE {
	content: '\261E ';
	padding-right: 3px;
}

#img-destaque {
	position: relative;
	left: 50px;
	padding: 15px;
	margin: 10px;
}